#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.active-sidebar {
  background: #E2E2E2 !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-left: 5px solid #4169E1 !important;
}

.sidebar-item:hover {
  background: #E2E2E2 !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-left: 5px solid #4169E1 !important;
}
